@charset "UTF-8";

/*时间轴*/

/*外部容器*/
.listview-container {
  margin: 10rpx 10rpx;
  /*行样式*/
  .playlog-item {
    display: flex;
    /*时间线*/
    .dotline {
      width: 70rpx;
      position: relative;
      /*竖线*/
      .line {
        width: 2rpx;
        height: 100%;
        background: #ccc;
        position: absolute;
        top: 20rpx;
        left: 30rpx; 
      }
      /*圆点*/
      .dot {
        width: 22rpx;
        height: 22rpx; 
        background: #30ac63;
        position: absolute; 
        top: 20rpx; 
        left: 20rpx; 
        border-radius: 50%;
      }
      /*时间戳*/
      .time {
        width: 100%;
        position: absolute;
        margin-top: 60rpx;
        z-index: 99;
        font-size: 24rpx;
        color: #777;
        text-align: center;
      }
    }
    /*右侧主体内容*/
    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 12rpx 0;
      /*时间*/
      .chapter {
        font-family: PingFangSC-Semibold;
        font-size: 20rpx;
        color: #4A4A4A;
        letter-spacing: 4.12rpx;
      }
      /*内容*/
      .course {
        font-family: PingFangSC-Semibold;
        font-size: 24rpx;
        color: #000000;
        letter-spacing: 4.94rpx;
        font-weight: 800;
      }
    }
  }
}

